{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'itineraires/style.css' %}">

<h1>
{% block title %}Liste des sorties au {{ itineraire.titre }} {% endblock title%}
</h1>

{% block content %}

<div class="row">
    <table class="table table-striped">

        <thead>
        <tr>
            {# Titres des informations essentielles de l'itinéraire#}
            <th>Altitude de départ</th>
            <th>Altitude minimale</th>
            <th>Altitude maximale</th>
            <th>Dénivelé positif cumulé</th>
            <th>Dénivelé negatif cumulé</th>
            <th>Durée estimée</th>
            <th>Difficulté estimée</th>
        </tr>
        </thead>

            <tbody>
                    <tr>
                    {# Informations essentielles de l'itinéraire #}
                    <td>{{ itineraire.point_de_depart }}</td>
                    <td>{{itineraire.alt_min}}</td>
                    <td>{{itineraire.alt_max}}</td>
                    <td>{{itineraire.deniv_pos_cumul}}</td>
                    <td>{{itineraire.deniv_neg_cumul}}</td>
                    <td>{{itineraire.duree}}</td>
                    <td>{{itineraire.difficulte}}</td>
                    </tr>
                </tbody>    

        <thead>
        <tr>
            {# Titres des informations essentielles concernant les sorties associées à l'itinéraire#}
            <th>Par </th>
            <th>Date</th>
            <th>Details</th>
        </tr>
        </thead>

        <tbody>
            {# Affiche les informations essentielles concernant les sorties  #}
            {% for sortie in itineraire.sortie_set.all %}
            <tr>
            <td>{{ sortie.utilisateur.username }}</td> 
            <td>{{ sortie.date_sortie}}</td>

            {# Affiche le lien vers tous les détails précis de la sortie#}
            <td><li><a href="/itineraires/{{ itineraire.id }}/{{ sortie.id }}/"> Consulter </a></li></td>

            {# Fait apparaitre le bouton si l'utilisateur connecté est bien celui qui a enregistré la sortie#}
            {% if request.user == sortie.utilisateur %}   
                <td><li><a href="/itineraires/modif_sortie/{{ sortie.id }}/"> Modifier </a></li></td>
            {% endif  %}
            </tr>
            {% endfor %}
        </tbody>

        <tbody>
            <tr>
            {# Fait apparaitre le bouton Nouvelle Sortie seulement si l'utilisateur est connecté#}
            {% if request.user.is_authenticated %}  
                <td><li><a href="/itineraires/nouvelle_sortie/"> Nouvelle sortie </a></li></td>
            {% endif  %}
            </tr>
        </tbody>

        <tbody>
            {# Si l'utilisateur n'est pas connecté, le bouton de connexion apparait #}
            {% if request.user.is_authenticated != True %}  
                <td><li><a href="/itineraires/accounts/login/"> Connexion </a></li></td>
            {% endif  %}    

            {# Si l'utilisateur est connecté, le bouton de déconnexion apparait#}
            {% if request.user.is_authenticated %}  
                <td><li><a href="/itineraires/accounts/logout/"> Déconnexion </a></li></td>
            {% endif  %}
        </tbody>

        <tbody>
            <tr>
            {#Bouton de retour à la liste des itinéraires#}
            <td><li><a href="/itineraires/"> >>> Retour à la liste des itinéraires </a></li></td>
            </tr>
        </tbody>

    </table>
</div>


{% endblock content %}
