
{% block title %}Informations sortie  {% endblock title%}

{% block content %}

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date </th>
            <th>Durée réelle</th>
            <th>Nombre de participants </th>
            <th>Type de randonneurs </th>
            <th>Météo </th>
            <th>Difficulté ressentie </th>

        </tr>
        </thead>
        <tbody>
        
        <tr>
            <td>{{ sortie.date_sortie }}</td>
            <td>{{ sortie.duree}}</td>
            <td>{{ sortie.nombre_personnes}}</td>
            <td>{{ sortie.experience}}</td>
            <td>{{ sortie.meteo}}</td>
            <td>{{ sortie.difficulte}}</td>

                
        </tr>
        </tbody>
    </table>
</div>


{% endblock content %}