{% block title %}Itineraires {% endblock title%}


{% block content %}

<div class="row pb-3">
    <h2>{{ Itineraire.titre }}</h2>
</div>


<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Durée estimée (h)</th>
            <th>Difficulté estimée (sur 5) </th>

        </tr>
        </thead>
        <tbody>
        {% for itineraire in liste_itineraires %}
            <tr>
                <td><li><a href="/itineraires/{{ itineraire.id }}/">{{ itineraire.titre }}</a></li></td>
                <td>{{ itineraire.duree }}</td>
                <td>{{ itineraire.difficulte }}</td>

            </tr>
        {% endfor %}
        </tbody>
        
        <tbody>

            {% if request.user.is_authenticated != True %}  
                <td><li><a href="/itineraires/accounts/login/"> Connexion </a></li></td>
            {% endif  %}    

            {% if request.user.is_authenticated %}  
                <td><li><a href="/itineraires/accounts/logout/"> Déconnexion </a></li></td>
            {% endif  %}
        </tbody>

    </table>
</div>


{% endblock content %}