{% extends 'base.html' %}
{% load bootstrap5 %} {# Yes, load it again even if base loads it #}

{% block title %}Creation nouvelle sortie{% endblock title%}

{% block content %}

<form action="{% url 'itineraires: nouvelle_sortie' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Add</button>
      <a href="{% url 'itineraires: nouvelle_sortie' %}" class="btn btn-primary">Cancel</a>
    {% endbuttons %}
</form>

{% endblock content %}